@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');

:root {
    --fonte1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte2: 'El Messiri', sans-serif;
    --fonte3: 'Mada', sans-serif;

    --cor1: #4c0465;
    --cor2: #1c1c1c;
    --cor3: #720796;
    --cor4: #2c1532;
    --cor5: #8400b4;
    --cor6: #4d354a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte3);
}

header {
    min-height: 500px;
    background-color: grey;
    background-image: url('../imagens/bg-gato.jpg');
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 20px 0 20px 0;
    font-family: var(--fonte2);
}

header > img {
    width: 200px;
}

nav {
    display: inline-block;
    min-width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-top: 10%;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: var(--cor2);
}

nav a:hover {
    text-decoration: underline;
    background-color: rgba(274, 177, 245, 0.4);
    border-radius: 10px;
    color: var(--cor1);
}

header > div {
    background-color: rgba(255, 255, 255, 0.572);
    border-radius: 20px;
    min-width: 50%;
    max-width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    color: var(--cor2);
}


header > div > h1 {
    padding: 0 20px 20px 20px;
    font-size: 1.8em;
}

header > div > p {
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 1.3em;
}





.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 60px;
}



.gatos-h1 {
    grid-column: 1/3;
    margin-bottom: 30px;
    text-align: center;
    color: #4d04657d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
}

.grid-section img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

.gatos-lista {
    height: 350px;
    width: 400px;
    overflow-y: scroll;
    justify-self: end;
}

.gatos-lista li {
    cursor: pointer;
    position: relative;
}

.gatos-lista li::before {
    content: '🐾 Arraste e clique';
    display: block;
    width: 130px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    color: var(--cor1);
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 0 4px 4px 0;
}

.gatos-lista::-webkit-scrollbar {
    width: 18px;
}

.gatos-lista::-webkit-scrollbar-thumb {
    background: #4d04657d;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
}

.gatos-lista::-webkit-scrollbar-track {
    background: #ffffff;
}

.gatos-descricao h2 {
    margin-bottom: 10px;
    line-height: 1.5;
    color: var(--cor1);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.gatos-descricao h2::before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 10px;
    margin-right: 10px;
    background-color: #4d04657d;
}

.gatos-descricao p {
    margin-bottom: 10px;
    line-height: 1.5;
    max-width: 50ch;
}



/* TAB PARA QUANDO CLICAR NA FOTO APARECER A DESCRIÇÃO */

.js .js-tabcontent section {    /* Essa classe está no link do HTML para que o JS só funcione se a pessoa tiver o JS habilitado */
    display: none;
}

.js-tabcontent section.ativo {
    display: block !important;
    animation: show .5s forwards;
}








footer {
    margin: 0;
    padding: 0;
}

.footer-1 {
    background-color: #4d04653d;
    /* background-color: #feb1f5ac; */
    text-align: center;
    font-family: var(--fonte2);
    color: #000000;
}

.footer-1 h3 {
    font-size: 1.5em;
    padding-top: 1em;
}

.footer-1 p {
    font-size: 1em;
    padding-bottom: 1em;
}

.footer-1 img {
    width: 50px;
    padding: 0px 0.5em 0px 0.5em;
}

.footer-2 {
    height: 20px;
    background-color: var(--cor6);
    text-align: right;
    color: #ffffff;
    font-size: 0.7em;
    padding: 5px 10px 0 10px;
    font-family: var(--fonte3);
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px 0 10px;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: goldenrod;
}




@media (max-width: 800px) {
    .grid-section {
        grid-template-columns: 1fr;
        margin: 30px;
    }
    .gatos-h1,
    .gatos-lista,
    .gatos-descricao {
        grid-column: 1;
    }
    .gatos-lista {
        justify-self: start;
        margin: 10px;
        margin: auto;
    }
    .gatos-descricao {
        justify-self: center;
        margin: 10px;
        margin: auto;
    }
    
}

@media (max-width: 500px) {
    .gatos-lista {
        height: 300px;
        width: 300px;
    }
    .gatos-h1 {
        font-size: 2rem;
        margin: 0;
    }
    .gatos-descricao h2 {
        font-size: 1.3rem;
    }
    .gatos-descricao p {
        font-size: 1rem;
        line-height: 1.2;
    }
}