@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');

:root {
    --fonte1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte2: 'El Messiri', sans-serif;
    --fonte3: 'Mada', sans-serif;

    --cor1: #4c0465;
    --cor2: #1c1c1c;
    --cor3: #720796;
    --cor4: #2c1532;
    --cor5: #8400b4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte3);
}

header {
    min-height: 500px;
    background-color: grey;
    background-image: url('../imagens/bg-gato.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 20px 0 20px 0;
    font-family: var(--fonte2);
}

header > img {
    width: 200px;
}

nav {
    display: inline-block;
    min-width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-top: 10%;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: var(--cor2);
}

nav a:hover {
    text-decoration: underline;
    background-color: rgba(205, 92, 92, 0.349);
    border-radius: 10px;
    color: var(--cor1);
}

header > div {
    background-color: rgba(255, 255, 255, 0.572);
    border-radius: 20px;
    min-width: 50%;
    max-width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    color: var(--cor2);
}


div > h1 {
    padding: 0 20px 20px 20px;
    font-size: 1.8em;
}

div > p {
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 1.3em;
}


footer {
    margin: 0;
    padding: 0;
}

.footer-1 {
    background-color: indianred;
    text-align: center;
    font-family: var(--fonte2);
    color: #000000;
}

.footer-1 img {
    width: 30px;
}

.footer-2 {
    height: 20px;
    background-color: rgb(49, 17, 28);
    text-align: center;
    color: #ffffff;
    font-size: 0.5em;
    padding: 5px 10px 0 10px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 5px 0 5px;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: goldenrod;
}
