@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');

:root {
    --fonte1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte2: 'El Messiri', sans-serif;
    --fonte3: 'Mada', sans-serif;

    --cor1: #4c0465;
    --cor2: #1c1c1c;
    --cor3: #720796;
    --cor4: #2c1532;
    --cor5: #8400b4;
    --cor6: #4d354a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte3);
}

header {
    min-height: 500px;
    background-color: grey;
    background-image: url('../imagens/bg-gato.jpg');
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 20px 0 20px 0;
    font-family: var(--fonte2);
}

header > img {
    width: 200px;
}

nav {
    display: inline-block;
    min-width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-top: 10%;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: var(--cor2);
}

nav a:hover {
    text-decoration: underline;
    background-color: rgba(274, 177, 245, 0.4);
    border-radius: 10px;
    color: var(--cor1);
}

header > div {
    background-color: rgba(255, 255, 255, 0.572);
    border-radius: 20px;
    min-width: 50%;
    max-width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    color: var(--cor2);
}


header > div > h1 {
    padding: 0 20px 20px 20px;
    font-size: 1.8em;
}

header > div > p {
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 1.3em;
}


.main {
    background-color: #ffffff;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.205);
    background-image: url('../imagens/bg-cat2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}

article {
    max-width: 1000px;
    margin: auto;
    text-align: left;
    padding: 20px;
}

article > h1 {
    color: #4d04657d;
    padding: 10px;
    text-transform: uppercase;
    font-size: 3rem;
}

article p {
    line-height: 2rem;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    align-items: center;
    min-height: 200px;
    padding: 50px 20px;
}

.ajudar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: center;
    min-height: 200px;
    padding: 80px 20px;
}

.ajudar-h1 {
    grid-column: 2;
    text-align: right;
}

.ajudar-texto {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
}


footer {
    margin: 0;
    padding: 0;
}

.footer-1 {
    background-color: #4d04653d;
    /* background-color: #feb1f5ac; */
    text-align: center;
    font-family: var(--fonte2);
    color: #000000;
}

.footer-1 h3 {
    font-size: 1.5em;
    padding-top: 1em;
}

.footer-1 p {
    font-size: 1em;
    padding-bottom: 1em;
}

.footer-1 img {
    width: 50px;
    padding: 0px 0.5em 0px 0.5em;
}

.footer-2 {
    height: 20px;
    background-color: var(--cor6);
    text-align: right;
    color: #ffffff;
    font-size: 0.7em;
    padding: 5px 10px 0 10px;
    font-family: var(--fonte3);
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px 0 10px;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: goldenrod;
}

@media (max-width: 800px) {
    .sobre {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-bottom: 20px;
    }

    .sobre h1 {
        font-size: 2.5rem;
        padding-bottom: 0px;
    }

    .ajudar {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 30px;
        text-decoration: none;
    }

    .ajudar-h1 {
        grid-column: 1;
        grid-row: 1;
        font-size: 2.5rem;
        padding-bottom: 0px;
    }
    .ajudar-texto {
        grid-column: 1;
        grid-row: 2;
    }

    article p {
        line-height: 1.5rem;
    }

    header {
        min-height: 600px;
    }

    main {
        background-size: 250px;
    }
}

@media (max-width: 400px) {
    main {
        background-size: 150px;
    }
}